body {
    background: #f1f2f6;
    /*background: #fff;*/
    font-weight: 500;
}

.header {
    background: #23375a;
    min-height: 40px;
    padding: 10px 25px;
}

.white-text{
    color: #ebf3fc;
    font-weight: bold;
}

.search-input {
    background: #f1f2f6;
    border: 0;
    border-radius: 6px;
    margin-right: 8px;
    padding: 13px 10px 13px 40px;
    min-width: 400px;
    margin-bottom: 10px;
}

.season-select {
    background: #f1f2f6;
    border: 0;
    border-radius: 6px;
    margin-right: 10px;
    max-width: 200px;
    padding: 5px 5px 5px 5px;
}

.input-icons {
    position: absolute;
    font-size: 30px;
    padding: 15px 0 0 10px;
}

.search-btn {
    background: #1e2e45;
    color: #fff;
    padding: 15px 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    border: 0;
}

.season-number {
    background: #1e2e45;
    color: #fff;
    padding: 15px 1px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-item-btn {
    background: #1e2e45;
    color: #fff;
    padding: 5px 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    border: 0;
}

.dashboard {
    background: #fff;
    width: 95%;
    padding: 5px 0;
}

.card-item-background{
    background: #f1f2f6;
    position: relative;
    padding: 20px 0 20px;
    min-height: 250px;
}

.item-description {
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 12px;
    color: #687281;
}

.card-item {
    width: 90%;
    padding: 50px 0 50px;
}

.card-item-image{
    position: absolute;
    top: -40px;
    border-radius: 8px;
}

.card-item-title {
    color: #1B2437;
    font-weight: 700;
}

.episode-item-title {
    color: #1B2437;
    font-weight: 700;
    font-size: 12px;
}