body {
    background: #f1f2f6;
}

.header {
    background: #23375a;
    min-height: 40px;
    padding: 10px 25px;
}

.white-text{
    color: #ebf3fc;
    font-weight: bold;
}

.search-input {
    background: #f1f2f6;
    border: 0;
    border-radius: 6px;
    margin-right: 8px;
    padding: 13px 10px 13px 40px;
    min-width: 400px;
    margin-bottom: 10px;
}

.input-icons {
    position: absolute;
    font-size: 30px;
    padding: 15px 0 0 10px;
}

.search-btn {
    background: #1e2e45;
    color: #fff;
    padding: 15px 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
    border: 0;
}

.dashboard {
    background: #fff;
    width: 95%;
    padding: 5px 0;
}

.card-item-background{
    background: #f1f2f6;
    position: relative;
}

.item-description {
    background: #f1f2f6;

}

.card-item {
    width: 90%;
    padding: 100px 0 100px;
}

.card-item-image{
    position: absolute;
    min-height: 200px;
    max-width: 80%;
    top: -15px;
    border-radius: 8px;
}